.contato {
  padding: 4rem 8%;
  background-color: #264d26;
  color: #fff;
  text-align: center;
}

.contato h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.contato p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #a1ff6b;
}
